<%- include('../templates/header'); -%>
<body>
    <div class="container-fluid">
        <h2><a href="/"><span class="badge bg-primary"><%=bot%></span></a> › APIS</h2>                    
        <div class="row mb-10 cstm-height-card">
			<div class="col-md-1">
				<div class="card">
					<a href="/apis/udemy"><img src="https://aefam.org/wp-content/uploads/2018/10/udemy-logo.png" class="card-img-top" alt="Udemy Logo"></a>
				</div>
			</div>
		</div>
    </div>
</body>
<%- include('../templates/footer'); -%>