<%- include('../templates/header'); -%>
<body>
    <div class="container-fluid">
        <h1><a href="/links"><span class="badge bg-primary">Links</a></span></h1>
        <h1><a href="/apis"><span class="badge bg-primary">APIS</a></span></h1>
    </div>
</body>
<%- include('../templates/footer'); -%>